%h1 To-Do-Liste

%h2 Zu erledigen
- if @to_dos.empty?
  Alles erledigt!
- else
  %ul
    - @to_dos.each do |item|
      %li
        - user = User.find_by(id: item.users_id)
        = item.name
        - unless user.nil?
          (angelegt von #{user.uname})
        %form{:method=>"post", :action=>"#{item.id}"}
          %input{:type=>"hidden", :name=>"todo_id", :value=>"#{item.id}"}
          %input{:type=>"hidden", :name=>"_method", :value=>"put"}
          %input{:type=>"submit", :value=>"Abhaken"}

%h2 Erledigt

%form{:method=>"post", :action=>"/empty"}
  %input{:type=>"hidden", :name=>"_method", :value=>"delete"}
  %input{:type=>"submit", :value=>"Leeren"}


%ul
  - @dones.each do |item|
    %li= item.name

%h2 Add new todo

%form{:method=>"post", :action=>"new"}
  %p Nutzer:
  - @users.each do |user|
    %input{:type=>"radio", :name=>"uid", :value=>"#{user.id}"}
    = user.uname
  %p
    %a{:href=>"/users/new"} Neuen Nutzer anlegen

  %input{:type=>"text", :name=>"newtodo"}
  %input{:type=>"submit", :value=>"Submit"}
